body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 1000vh; */
  margin: 0;
  flex-direction: column;
}

.container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fdfbd4;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group-celsius {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

textarea {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 50px;
}

.btn {
  display: flex;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #63c5da;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 2px;
}

button:hover {
  background-color: #63c5da;
}

#error {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: left;
  display: flex;
}

#result {
  margin-top: 20px;
}

section span {
  color: purple;
  display: flex;
  justify-content: left;
}

footer {
  display: flex;
  flex-direction: column;
  width: 95%;
}

footer h2 {
  border-bottom: 1px solid black;
  padding-bottom: 25px;
}

footer p {
  /* margin: 0; */
  margin: 10px;
}

footer p i {
  font-weight: 500;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

footer p span {
  font-size: 12px;
}
